<?xml version="1.0" encoding="UTF-8"?>
<web-app>

<servlet>
		<servlet-name>AdminLogin</servlet-name>
		<servlet-class>com.admin.action.AdminLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminLogin</servlet-name>
		<url-pattern>/AdminLogin</url-pattern>
</servlet-mapping>


<servlet>
		<servlet-name>RegisterAdmin</servlet-name>
		<servlet-class>com.admin.action.RegisterAdmin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterAdmin</servlet-name>
		<url-pattern>/RegisterAdmin</url-pattern>
</servlet-mapping>


<servlet>
		<servlet-name>Changepass</servlet-name>
		<servlet-class>com.admin.action.Changepass</servlet-class>
	</servlet>
	<servlet-mapping> 
		<servlet-name>Changepass</servlet-name>
		<url-pattern>/Changepass</url-pattern>
</servlet-mapping>

<servlet>
		<servlet-name>UpdateProfile</servlet-name>
		<servlet-class>com.admin.action.UpdateProfile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateProfile</servlet-name>
		<url-pattern>/UpdateProfile</url-pattern>
</servlet-mapping>

<servlet>
		<servlet-name>SearchFileAction1</servlet-name>
		<servlet-class>com.admin.action.SearchFileAction1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchFileAction1</servlet-name>
		<url-pattern>/SearchFileAction1</url-pattern>
</servlet-mapping>


<servlet>
		<servlet-name>SearchFileaction5</servlet-name>
		<servlet-class>com.admin.action.SearchFileaction5</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchFileaction5</servlet-name>
		<url-pattern>/SearchFileaction5</url-pattern>
</servlet-mapping>



<servlet>
		<servlet-name>AddImage</servlet-name>
		<servlet-class>com.admin.action.AddImage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddImage</servlet-name>
		<url-pattern>/AddImage</url-pattern>
</servlet-mapping>


<servlet>
		<servlet-name>AddImage2</servlet-name>
		<servlet-class>com.admin.action.AddImage2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddImage2</servlet-name>
		<url-pattern>/AddImage2</url-pattern>
</servlet-mapping>



<servlet>
		<servlet-name>ClassificationList</servlet-name>
		<servlet-class>com.admin.action.ClassificationList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClassificationList</servlet-name>
		<url-pattern>/ClassificationList</url-pattern>
</servlet-mapping>


<servlet>
		<servlet-name>RegisterFir</servlet-name>
		<servlet-class>com.user.action.RegisterFir</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterFir</servlet-name>
		<url-pattern>/RegisterFir</url-pattern>
</servlet-mapping>

<servlet>
		<servlet-name>SearchFileaction2</servlet-name>
		<servlet-class>com.admin.action.SearchFileaction2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchFileaction2</servlet-name>
		<url-pattern>/SearchFileaction2</url-pattern>
</servlet-mapping>

<!-- user servlets -->
<servlet>
		<servlet-name>Singup</servlet-name>
		<servlet-class>com.user.action.Singup</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Singup</servlet-name>
		<url-pattern>/Singup</url-pattern>
</servlet-mapping>

<servlet>
		<servlet-name>UserLogin</servlet-name>
		<servlet-class>com.user.action.UserLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserLogin</servlet-name>
		<url-pattern>/UserLogin</url-pattern>
</servlet-mapping>

<servlet>
		<servlet-name>ImageMatching</servlet-name>
		<servlet-class>com.user.action.ImageMatching</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImageMatching</servlet-name>
		<url-pattern>/ImageMatching</url-pattern>
</servlet-mapping>


<servlet>
		<servlet-name>ImageMatching2</servlet-name>
		<servlet-class>com.user.action.ImageMatching2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImageMatching2</servlet-name>
		<url-pattern>/ImageMatching2</url-pattern>
</servlet-mapping>


<servlet>
		<servlet-name>UserChangepass</servlet-name>
		<servlet-class>com.user.action.UserChangepass</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserChangepass</servlet-name>
		<url-pattern>/UserChangepass</url-pattern>
</servlet-mapping>

<servlet>
		<servlet-name>UserUpdateProfile</servlet-name>
		<servlet-class>com.user.action.UserUpdateProfile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserUpdateProfile</servlet-name>
		<url-pattern>/UserUpdateProfile</url-pattern>
</servlet-mapping>

<servlet>
		<servlet-name>SearchFileAction</servlet-name>
		<servlet-class>com.user.action.SearchFileAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchFileAction</servlet-name>
		<url-pattern>/SearchFileAction</url-pattern>
</servlet-mapping>

<servlet>
		<servlet-name>SearchImage</servlet-name>
		<servlet-class>com.user.action.SearchImage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchImage</servlet-name>
		<url-pattern>/SearchImage</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>Login</servlet-name>
<servlet-class>com.sample.Login</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Login</servlet-name>
  <url-pattern>/Login</url-pattern>
  </servlet-mapping>



</web-app>